/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body {
font: 0.8em/1.4 Arial,Verdana,Helvetica,sans-serif;
background-color: #FFFFFF
}

/* Headings */
h1 { font-size: 145% }


/* Table colors */
.TableHeadingColor     { background: #CCCCFF } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */


/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 90%; font-family: Helvetica, Arial, sans-serif }
.FrameHeadingFont { font-size:  90%; font-family: Helvetica, Arial, sans-serif }
.FrameItemFont    { font-size:  90%; font-family: Helvetica, Arial, sans-serif }


/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF;} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B;} /* Dark Blue */

.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}



/*
 * Processing - Styling
 *
 * fjenett - mail@florianjenett.de - 2005.08.14
 *
 */


/* first let's restyle what's there .. */

/* Table colors */
.TableHeadingColor     { 
	background: #CCCCBE;
	color: #5A5A46;
 }
.TableSubHeadingColor  { background: #EEEEFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */


/* Font used in left-hand frame lists */
.FrameTitleFont   { 
	font-size: 0.9em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif 
}
.FrameHeadingFont {
	font-size: 0.9em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #5A5A46;
}
.FrameItemFont    {
	font-size: 0.9em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif 
}


/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#CCCCBE;} /* Light */
.NavBarCell1Rev { background-color:#5A5A46;} /* Dark */

.NavBarFont1    {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#5A5A46;
}
.NavBarFont1Rev {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}

.NavBarCell2    { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; background-color:#FFFFFF;}


/* try to style some more ... */

body,
html
{
	font-size: smaller;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	}
	
h1, h2, h3, h4, h5, h6 {

	color: #5A5A46; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-weight: normal;

	line-height: normal;
}

h1, h2, h3, h4 {
	word-spacing: 0.2em;
	font-weight: bold;
}

h4, h5, h6 {
	font-weight: bold; 
}
/* Font Sizes */
h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
p { font-size: 1em; }

dl, dd, dt,
dt > b
{
	color: #666666;
	font-size: 1em;
}

code,
pre
{
	font-size: 1.2em;
	color:#333333;
}

pre
{
	font-size: 1.2em;
}

/* force the table-headers small .. */
b
{
	font-size: small;
}

tr,
td
{
	border-top: 0px solid;
	border-left: 0px solid;
	border-color: #999999;
}

table
{
	border: 0px;
}

img
{
	border: 0px solid #000000;
}

a {
	text-decoration: underline;
	font-weight: normal;
	color: #3399CC;
}

a:hover
a:active {
	text-decoration: underline;
	font-weight: normal;
	color: #3399CC;
}

a:visited,
a:link:visited {
	text-decoration: underline;
	font-weight: normal;
	color: #3399CC;
}
